:root {
  --background: #191d88;
  --primary: #1450a3;
  --secondary: #337ccf;
  --accent: #ffc436;
}

.container {
  display: flex;
  flex-direction: row; /* Display children in a row */
  justify-content: space-between; /* Spacing between children */
}

.fromCur,
.toCur {
  flex: 1; /* Each child takes equal space */
}
.dropdownFor {
  margin-top: 5px;
}
.inputFor,
.dropdownFor {
  display: flex;
  flex-direction: row; /* Display label and input in a row */
  align-items: center; /* Vertically center the items */
  
}

#dropdown{
  background-color: #f5f5f5; /* Change background color */
  border: 1px solid #ccc; /* Add border */
  padding: 5px; /* Add padding for spacing */
  font-size: 16px; /* Change font size */
  color: #333; /* Change text color */
  width: 200px; /* Set a fixed width */
  outline: none; /* Remove the default focus outline */
}
#dropdownTo{
  background-color: #f5f5f5; /* Change background color */
  border: 1px solid #ccc; /* Add border */
  padding: 5px; /* Add padding for spacing */
  font-size: 16px; /* Change font size */
  color: #333; /* Change text color */
  width: 200px; /* Set a fixed width */
  outline: none; /* Remove the default focus outline */
}

label {
  margin-right: 10px; /* Add spacing between label and input/select */
}

select {
  width: 100%; /* Make the select element fill the available space */
}

body {
  background-color: #333333;
}

label {
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-size: large;
}

input {
  border-radius: 10px;
  border-width: thin;
  background-color: rgb(255, 255, 255);
  vertical-align: middle; /* Align text vertically in the middle */
  padding: 5px; /* Add padding for better appearance */
  width: 200px; /* Set a fixed width */
}
